##############################################
#  WordPress Server powered by Ansible       #
##############################################

Installation managed by:
https://github.com/obrehmer/wordpress-ansible

Hostname: {{ ansible_hostname }}
Date:     {{ ansible_date_time.date }} {{ ansible_date_time.time }}
IP:       {{ ansible_default_ipv4.address }}

Have a productive day!

